.feed{
    flex: 1;
    padding:40px 100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    width:60%;
    margin-bottom: 400px;
}